.alert {
  padding: 15px 20px;
  border: 1px solid skyblue;
  border-radius: 5px;
  background-color: rgb(138, 138, 243);

  &-sucess {
    @extend.alert;
    background-color: palevioletred;
  }

  &-danger {
    @extend.alert;
    background-color: whitesmoke;
  }
}
