@mixin para {
  float: left;
  font-size: 12px;
  font: normal Roboto;
  text-align: justify;
  padding-left: 20px;
  line-height: 1.4;
}

@mixin img {
  width: 210px;
  margin-top: 50px;
  padding-left: 60px;
  float: left;
  margin-bottom: 50px;
}
