@mixin para {
  float: left;
  font-size: 12px;
  font: normal Roboto;
  text-align: justify;
  padding-left: 20px;
  line-height: 1.4;
}

@mixin img {
  margin-top: 70px;
  width: 200px;
}

@mixin bottompara {
  font-size: 10px;
  text-align: justify;
  text-align: center;
}
