@import "./variables/color";
@import "./variables/font";
@import "./components/alert";
$align: justify;

$profile-picture: "kamal";

/* font-family: #{ $font-family } */

.profile-picture {
  background-image: url(../profile-picture/#{$profile-picture});
}

//this is a comment
article {
  //@include common;
  width: 40%;
  float: left;
  height: 300px;
  padding: 20px;
  background-color: map-get($theme-color, "green");
  margin: 25px;
  text-align: $align;
  text-justify: inter-word;
  font-family: $font-family;
  .lion {
    padding: 10px 200px 10px 260px;
    margin: 10px;
    float: left;
    background-color: map-get($theme-color, "cornflowerblue");
    text-align: $align;
  }
  .tiger {
    padding: 10px 100px;
    margin: 10px;
    float: left;
    background-color: map-get($theme-color, "orange");
  }
  .fox {
    padding: 10px 105px;
    margin: 10px;
    float: left;
    background-color: map-get($theme-color, "yellow");
  }
}
section {
  width: 40%;
  float: left;
  height: 300px;
  padding: 20px 50px 20px 50px;
  background-color: map-get($theme-color, "orange");
  margin: 25px;
}
aside {
  background-color: map-get($theme-color, "skyblue");
  text-align: $align;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
  padding-top: -20px;
  margin-bottom: 30px;
  padding: -20px 10px 40px 10px;
  font-family: $font-family;
}
footer {
  padding: 30px;
  font-size: larger;
  font-display: swap;
  text-align: center;
  margin: 10px;
  border: 2px solid;
  border-color: map-get($theme-color, "black");
  background-color: map-get($theme-color, "grey");
}
.header {
  text-align: center;
  background-color: map-get($theme-color, "pink");
  border-width: 1px;
  border-style: dashed;

  &_link {
    text-decoration: none;
  }
}

@mixin common {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: map-get($theme-color, "lightgreen");
  padding: 1px;
  border: 2px solid;
  border-color: map-get($theme-color, "black");
  border-radius: 5px;
  text-align: justify;
}

.para {
  @include common;
}

//@error "this is an error: #{functions brand-colors()}";
